*{
  margin: 0px;
  padding: 0px;
}
.box{
background-image:url("https://wallpaper.dog/large/10990753.jpg");
background-position: center;
background-size: cover;
height: 91vh;
position: relative;
}
.container{
  background-color: white;
  margin-right: 50px;
  opacity: 0.3;
  position: absolute;
  left: 150px;
  top: 150px;
  padding: auto;
}
.radio_input_style{
  padding-bottom: 7rem;
  margin: 20px 0;
}
.allItems{
  display: grid;
  grid-template-rows: max-content;
}

.image{
  padding: 152px 0;
  display:flex;
  justify-content: center;
  height: 50vh;
  background-color: black;
}