*{
  margin: 0px;
  padding: 0px;
}

.radio_input_style{
  padding-bottom: 7rem;
  margin: 20px 0;
}


.image{
  padding: 152px 0;
  display:flex;
  justify-content: center;
  height: 60vh;
  background-color: black;
}

.heading{
  margin-top: 20px;
}
.navbar{
  background-color:rgb(31, 160, 160);
}

.container-fluid{
  background-color:rgb(31, 160, 160);
}
.container-child img{
  width: 4rem;
  height: 3.6rem;
  background-color: black;
  border-radius: 20px;
  margin: 5px 10px;
}
.container-child{
  display: flex;
  flex-direction: row;
  align-items: center;

}
.container-child h1{
font-weight: 700;
font-size: xx-large;
}
.errorMassage{
  color: red;
  margin-top: 10px;
}